<footer>
    <div class="d-flex">
        <div class="icone-social">
            <img ngSrc="./assets/instagram.png" width="32" height="32" />
            <img ngSrc="./assets/facebook.png" width="32" height="32" />
            <img ngSrc="./assets/twitter.png" width="32" height="32" />
            <img ngSrc="./assets/youtube.png" width="32" height="32" />
        </div>
    </div>

    <div class="info">
        <p>Info - Suporte - Sustentabilidade</p>
        <p>Terms of Use - Privacy Policy</p>
        <span>
            © 2024
            Created by: <b>Josebe Barbosa</b></span>
    </div>
    <!-- <div class="row">
        <div class="col-lg-3">
            <div class="card-social">
                <div class="logo">
                    <img ngSrc="./assets/logo.png" width="32" height="32">
                    <span class="ms-2 fw-bold">EcoVerde</span>
                </div>
                <p> um compromisso genuíno com a construção de um futuro mais sustentável para todos</p>
                <h4>Siga nas redes sociais</h4>
                <div class="icone-social">
                    <img ngSrc="./assets/instagram.png" width="32" height="32" />
                    <img ngSrc="./assets/facebook.png" width="32" height="32" />
                    <img ngSrc="./assets/twitter.png" width="32" height="32" />
                    <img ngSrc="./assets/youtube.png" width="32" height="32" />
                </div>
            </div>
        </div>

        <div class="site-map col-lg-3">
            <h4>Site Map</h4>
            <ul>
                <li>&rsaquo; Home</li>
                <li>&rsaquo; Impactos</li>
                <li>&rsaquo; Soluções</li>
                <li>&rsaquo; Contato</li>
            </ul>
        </div>
    </div> -->
</footer>