<main>
    <app-header></app-header>
    <section class="main-section">
        <div class="headline">
            <h1>Construindo um Planeta Mais <b>Sustentável</b> Comece Agora</h1>
            <span>Construindo um futuro verde juntos: explore como podemos reduzir nossa pegada ambiental e criar um mundo mais sustentável.</span>
        </div>
        <img ngSrc="./assets/principal.png" width="666" height="416">
    </section>
    <section class="solution-section">
        <h4 class="pretitle">SOLUÇÕES</h4>
        <h1 class="title">o que posso fazer para o meu planeta?</h1>
        <p class="descricao">Em um mundo em constante transformação, a busca por um futuro sustentável se torna cada vez mais urgente.</p>
        <div class="grid-container">
            <app-card 
                src-img="./assets/aquecimento-global.png"
                title="Mudanças Climáticas"
                text="Aprofunde-se nas causas e consequencias do aquecimento global e sua ligação com as atividades humanas."
            />
            <app-card></app-card>
            <app-card></app-card>
    
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
        </div>
    </section>
</main>