<main>
    <app-header></app-header>
    <section class="main-section">
        <div class="headline">
            <h1>Construindo um Planeta Mais <b>Sustentável</b> Comece Agora</h1>
            <span>Construindo um futuro verde juntos: explore como podemos reduzir nossa pegada ambiental e criar um mundo mais sustentável.</span>
        </div>
        <img ngSrc="./assets/principal.png" width="666" height="416">
    </section>

    <section class="impact-section">
        <h4 class="pretitle">IMPACTOS</h4>
        <h1 class="title">Um Futuro em Risco</h1>
        <p class="descricao">Nossa falta de ação em relação a sustentabilidade pode gerar consequências graves e irreversíveis para o planeta e para a sociedade humana.</p>

        <div class="grid-container">
            <app-elementor
                image="./assets/alteracoes-climaticas.png"
                title="Intensificação das Mudanças Climáticas"
                text="Ondas de calor, secas prolongadas e eventos climáticos extremos se tornarão mais frequentes e intensos, impactando a agricultura, a saúde pública e os ecossistemas."
            />
            <app-elementor
                image="./assets/desmatamento.png"
                title="Degradação Florestal em Grande Escala"
                text="O desmatamento e a fragmentação de habitats levarão à extinção em massa de espécies vegetais e animais, desequilibrando os ecossistemas e comprometendo serviços ecossistêmicos essenciais."
            />

            <app-elementor
                image="./assets/fome.png"
                title="Crise Alimentar Global"
                text="O declínio da produtividade agrícola, a perda de biodiversidade e os eventos climáticos extremos colocarão em risco a segurança alimentar de milhões de pessoas."
            />
            <app-elementor
                image="./assets/energia.png"
                title="Crise Energética e Ambiental"
                text="A dependência de combustíveis fósseis intensificará a poluição do ar, da água e do solo, causando problemas respiratórios, doenças e outros danos à saúde humana e ao meio ambiente."
            />

            <app-elementor
                image="./assets/poluicao.png"
                title="Poluição e Acúmulo de Resíduos"
                text="O descarte inadequado de resíduos sólidos, efluentes e produtos químicos contaminará o solo, a água e o ar, colocando em risco a saúde humana, a vida animal e os ecossistemas."
            />
            <app-elementor
                image="./assets/escassez-agua.png"
                title="Crise Hídrica"
                text="O aumento da demanda por água, a seca e a poluição dos recursos hídricos levarão à escassez de água potável em diversas regiões do mundo."
            />
        </div>
    </section>

    <section class="solution-section">
        <h4 class="pretitle">SOLUÇÕES</h4>
        <h1 class="title">o que posso fazer para o meu planeta?</h1>
        <p class="descricao">Em um mundo em constante transformação, a busca por um futuro sustentável se torna cada vez mais urgente.</p>
        <div class="grid-container">
            <app-card 
                src-img="./assets/aquecimento-global.png"
                title="Mudanças Climáticas"
                text="Aprofunde-se nas causas e consequencias do aquecimento global e sua ligação com as atividades humanas."
            />
            <app-card
                src-img="./assets/floresta.png"
                title="Florestas em Foco"
                text="Apoie iniciativas de reflorestamento, consumo consciente de produtos madeireiros e combate ao comércio ilegal de madeira."
            />
            <app-card
                src-img="./assets/fazenda.png"
                title="Rumo à Sustentabilidade Alimentar"
                text="Incentive práticas agrícolas sustentáveis que preservem o solo, a água e a biodiversidade, promovendo a saúde do planeta e das pessoas."
            />
    
            <app-card
                src-img="./assets/energia-renovavel.png"
                title="Energia Renovável"
                text="Explore as vantagens e desvantagens de diferentes fontes como energia solar, eólica, hidrelétrica, geotérmica e biocombustíveis."
            />
            <app-card
                src-img="./assets/reciclar.png"
                title="Gestão de Resíduos"
                text="Adote a filosofia dos 3Rs em seu dia a dia, diminuindo o consumo, reutilizando materiais e reciclando de forma correta."
            />
            <app-card
                src-img="./assets/agua.png"
                title="Água"
                text="Defenda a preservação dos rios, nascentes e matas ciliares, combatendo o desmatamento, a poluição e o uso inadequado da água."
            />
        </div>
    </section>

    <section class="contact-section">
        <h4 class="pretitle">CONTATO</h4>
        <h1 class="title">Fale conosco e tire suas dúvidas</h1>
        <p class="descricao">Estamos à disposição para te ajudar com qualquer dúvida ou solicitação. Entre em contato conosco por telefone, e-mail ou através do nosso formulário de contato.</p>

        <div class="row">
            <div class="info col-lg-6 col-12">
                <h2>Informações de Contato :</h2>

                
                <h5><fa-icon  [icon]="faEnvelope"/>Exemplo&commat;Exemplo.com</h5>
                <h5><fa-icon  [icon]="faPhone"/>+123 456 789</h5>
                <h5><fa-icon  [icon]="faLocationDot"/>Rua Camucé - Cidade Nova - 15</h5>
            </div>
            <form class="col-lg-6 col-12" action="">
                <div class="row">
                    <div class="col-lg-6 col-12 mb-3">
                        <app-input type="text" placeholder="nome" />
                    </div>
                    <div class="col-lg-6 col-12 mb-3">
                        <app-input type="text" placeholder="sobrenome" />
                    </div>

                    <div class="col-12 mb-3">
                        <app-input type="text" placeholder="email"/>
                    </div>

                    <div class="col-12 mb-3">
                        <app-textarea rows="6" placeholder="mensagem"/>
                    </div>
                </div>
                <button class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </section>
</main>