main {
    display: flex;
    flex-direction: column;
    gap: 84px;
    padding: 0 100px;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .main-section h1 {
        font-size: 55px;
        font-weight: bold;
        line-height: 65px;
        color: var(--primary-text-color);
    }

        .main-section h1 b {
            background: -webkit-linear-gradient(180deg, var(--light-primary-color), var(--secondary-color));
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-style: normal; 
        }
    
    .main-section span {
        font-size: 20px;
        line-height: 32px;
        font-weight: 400;
        color: var(--secondary-text-color);
    }

.solution-section {
    display: flex;
    flex-direction: column;
}

    .solution-section .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

.pretitle {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 8px;
}

.title {
    color: var(--primary-text-color);
    font-size: 45px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.descricao {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 32px;
    width: 50%;
    margin-bottom: 16px;
}

.impact-section .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: 32px;
}


@media (min-width: 1080px) {
    .main-section {
        flex-direction: row;
    }
}