main {
    display: flex;
    flex-direction: column;
    gap: 84px;
    padding: 0 100px;
    padding-top: calc(66px + 84px);
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .main-section h1 {
        font-size: 55px;
        font-weight: bold;
        line-height: 65px;
        color: var(--primary-text-color);
    }

        .main-section h1 b {
            background: -webkit-linear-gradient(180deg, var(--light-primary-color), var(--secondary-color));
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-style: normal; 
        }
    
    .main-section span {
        font-size: 20px;
        line-height: 32px;
        font-weight: 400;
        color: var(--secondary-text-color);
    }

.solution-section {
    display: flex;
    flex-direction: column;
}

.pretitle {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 8px;
}

.title {
    color: var(--primary-text-color);
    font-size: 45px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.descricao {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 32px;
    width: 100%;
    margin-bottom: 16px;
}

.info h2 {
    color: var(--primary-text-color);
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 8px;
}

.info h5 {
    color: var(--secondary-text-color);
    font-size: 20px;
    font-weight: bold;
    margin: 24px 0;
}

.info h5 fa-icon {
    color: var(--primary-color);
    font-size: 24px;
    margin: 0 24px;
}


@media (min-width: 1080px) {
    .main-section {
        flex-direction: row;
    }

    .descricao {
        width: 50%;
    }
}